
@model Model.EF.ChiTietSanPham
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var ctsps = ViewBag.ctsps;
}




<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title text-morii">Thực Đơn</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="Index">Trang Chủ</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Thực Đơn </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->

<style>
    .product {
        display: flex;
        /*flex-direction:column;*/
        gap: 30px;
        padding-bottom: 20px;
        /*border-bottom: 0.5px solid #ccc !important;*/
    }

    .imgProduct {
        display: flex;
    }

    .contentProduct {
        display: flex;
        flex-direction: column;
    }

    .moTaDiv {
        margin: 20px 0;
    }

    .moTa {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .moTaP {
        font-size: 18px;
        font-weight: 400;
        margin-bottom:20px;
    }

    hr.style10 {
        border-top: 1px dotted #8c8b8b;
        border-bottom: 1px dotted #fff;
    }

    .w3-services-grids {
         align-items: initial; 
    }

    .splienquan-h4 {
        font-size: 20px !important;
        margin: 10px 0 0 0 !important;
        line-height: 27px !important;
        font-weight: 500 !important;
        color: #146d4d !important;
    }

    .splienquan-p {
        font-size: 18px !important; 
    }

</style>

<div class="w3-services py-5">
    <div class="container py-lg-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="container">
                    <div class="product">
                        <div class="imgProduct">
                            <img src=@Model.UrlImage style="width:500px; height: 500px;" />
                        </div>
                        <div class="contentProduct">
                            <h3 style="font-size: 30px; text-transform: uppercase; font-weight: 700; margin-bottom: 5px; text-transform: capitalize; color: #146d4d; ">
                                @Model.TenSanPham
                            </h3>
                            <p style="font-size: 24px; font-weight: 700;">@Model.Gia đ</p>
                        </div>
                    </div>
                    <hr class="style10">
                    <div class="moTaDiv">
                        <h3 class="moTa">Mô tả sản phẩm</h3>
                        <p class="moTaP">@Model.MoTaSanPham</p>

                    </div>
                    <div class="moTaDiv">
                        <hr class="style10">
                        <h3 class="moTa">Sản phẩm liên quan</h3>
                        <p class="moTaP">@Model.MoTaSanPham</p>
                    </div>


                    <div class="row w3-services-grids">
                        @{
                            foreach (var sp in ctsps)
                            {
                                if(sp.ID == Model.ID)
                                {
                                    continue;
                                }
                                <a href="~/thuc-don/details/@sp.ID">

                                    <div class="col-lg-2 col-md-3 causes-grid">
                                        <div>
                                            <a href="~/thuc-don/details/@sp.ID"><img src=@sp.UrlImage alt="@sp.TenSanPham" height="120"></a>
                                            <a href="~/thuc-don/details/@sp.ID" class="cause-title-wrap">
                                                <h4 class="cause-title splienquan-h4 text-morii">
                                                    @sp.TenSanPham
                                                </h4>
                                            </a>
                                            <p class="card-text mb-0 splienquan-p" style="font-size: 20px">
                                                @sp.Gia đ
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>



