

@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var nd = ViewBag.ndd;
}

@model Model.EF.NguoiDung

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">


<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title text-morii">Tài Khoản Của Tôi</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="Index">Người Dùng</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span> Tài Khoản Của Tôi </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->


<script src="~/Scripts/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="w3-services py-5">
        <div class="container py-lg-4">
            <div class="form-horizontal">

                <div class="container">
                    <form>
                        <div class="profile-header">
                            <div class="profile-header-left">

                                <div class="img-header">
                                    @{
                                        if (string.IsNullOrEmpty(Model.Urlmage))
                                        {
                                            <label for="urlAnh" class="img-header-avt">
                                                <img id="avt-link" src="/Data/Files/noAvt2.png" style="width: 218px; height:218px; border-radius: 100%;" />
                                            </label>
                                            <div style="display:none" class="img-header-avt">
                                                <div class="input-group mb-3" onclick="BrowserSever()" style="cursor: pointer;">
                                                    <span class="input-group-text" id="basic-addon3">Upload</span>
                                                    <input class="form-control" id="urlAnh" type="text" aria-describedby="basic-addon3" name="Urlmage" value="@Model.Urlmage">
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <label for="urlAnh" class="img-header-avt">
                                                <img id="avt-link" src="@Model.Urlmage" style="width: 218px; height:218px; border-radius: 100%;" />
                                            </label>
                                            <div style="display:none" class="img-header-avt">
                                                <div class="input-group mb-3" onclick="BrowserSever()" style="cursor: pointer;">
                                                    <span class="input-group-text" id="basic-addon3">Upload</span>
                                                    <input class="form-control" id="urlAnh" type="text" aria-describedby="basic-addon3" name="Urlmage" value="@Model.Urlmage">
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>


                                <div>
                                    <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; color:#146d4d;">Thông Tin Cá Nhân</h3>
                                    <p style="font-weight: 400; font-size: 18px; line-height: 22px;">Cập nhật ảnh và thông tin cá nhân của bạn.</p>
                                </div>
                            </div>
                                <a class="button-profile-save">
                                    <button type="submit">
                                        Save
                                    </button>
                                </a>

                        </div>
                        <div class="form-detail" style="margin-top: 80px;">

                            <div class="form-group row">
                                <label for="hoTenLabel" class="col-sm-2 col-form-label col-form-label-lg">Họ Tên</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-lg" id="hoTenLabel" value="@Model.HoTen" name="HoTen">
                                </div>
                            </div>
                            <hr class="style10">
                            <div class="form-group row">
                                <label for="emailLabel" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control form-control-lg" id="hoTenLabel" placeholder="@Model.Email" readonly>
                                </div>
                            </div>
                            <hr class="style10">
                            <div class="form-group row">
                                <label for="phoneLabel" class="col-sm-2 col-form-label col-form-label-lg">SĐT</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control form-control-lg" id="phoneLabel" value="@Model.SDT" name="SDT">
                                </div>
                            </div>
                            <hr class="style10">
                            <div class="form-group row">
                                <label for="genderLabel" class="col-sm-2 col-form-label col-form-label-lg">Giới Tính</label>
                                <div class="col-sm-10">

                                    @Html.RadioButtonFor(model => model.GioiTinh, true)
                                    <label class="form-check-label" for="inlineRadio1">Nam</label>

                                    @Html.RadioButtonFor(model => model.GioiTinh, false)
                                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                                </div>
                            </div>
                            <hr class="style10">
                            <div class="form-group row">
                                <label for="birthLabel" class="col-sm-2 col-form-label col-form-label-lg">Ngày Sinh</label>
                                <div class="col-sm-10">
                                    @*<input type="date" class="form-control form-control-lg" id="birthLabel" value="@nd.NgSinh">*@
                                    <input type="date" class="form-control form-control-lg" id="birthLabel" name="NgSinh" value="@string.Format("{0:yyyy-MM-dd}", Model.NgSinh)" />
                                </div>
                            </div>
                        </div>
                    </form>
                    <div style="display: flex; justify-content:flex-end; align-items: center; margin-top: 60px;">
                        <a href="~/profile/doi-mat-khau/@Model.ID" style="font-weight: 500; font-size: 18px; line-height: 24px; color: #146d4d; padding:0 15px;">
                            Đổi Mật Khẩu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<style>

    .img-header-avt:hover {
        cursor: pointer
    }

    .form-check-label {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .form-check-input {
        padding: 7px;
        width: 100%;
        height: 2em;
    }

    button, input, select, label, li {
        -webkit-appearance: button;
    }

    .form-group {
        margin: 30px 0 30px 0;
    }

    .profile-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-header {
        margin-right: 50px;
    }

    .button-profile-save {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .button-profile-save > button {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background-color: #146d4d;
            padding: 14px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
        }


    .product {
        display: flex;
        /*flex-direction:column;*/
        gap: 30px;
        padding-bottom: 20px;
        /*border-bottom: 0.5px solid #ccc !important;*/
    }

    .imgProduct {
        display: flex;
    }

    .contentProduct {
        display: flex;
        flex-direction: column;
    }

    .moTaDiv {
        margin: 20px 0;
    }

    .moTa {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .moTaP {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    hr.style10 {
        border-top: 0.5px dotted #E5E5E5;
        border-bottom: 1px dotted #fff;
    }

    .w3-services-grids {
        align-items: initial;
    }

    .splienquan-h4 {
        font-size: 20px !important;
        margin: 10px 0 0 0 !important;
        line-height: 27px !important;
        font-weight: 500 !important;
        color: #146d4d !important;
    }

    .splienquan-p {
        font-size: 18px !important;
    }
</style>




<!-- //contact-form -->
<!-- Template JavaScript -->
<script src="~/Assets/Client/js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/Client/js/theme-change.js"></script>
<!-- disable body scroll which navbar is in active -->

<script>
    //Handle thêm CKEDITOR
    CKEDITOR.replace("ckeditor");

    //Handle thêm CKFINDER
    function BrowserSever() {
        var finder = new CKFinder();
        finder.selectActionFunction = GanUrl;
        finder.popup();
    }

    function GanUrl(url) {
        console.log(url);
        localStorage.urlAvt = url;
        //history.go(0);
        $("#avt-link").attr("src", localStorage.getItem('urlAvt'));
        $("#urlAnh").val(url);
    }

</script>