
@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    var nd = ViewBag.ndd;
    long TongGia = 0;
    long e = 0;
    var km = ViewBag.km;
    var isKM = ViewBag.isKM;

}

@model List<MoriiCoffee.Common.CartItem>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@if (nd == null)
{
    <section class="w3l-about-breadcrumb position-relative text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-lg-5 py-3">
                <h2 class="title text-morii">Tài Khoản Của Tôi</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="Index">Đặt Hàng</a></li>
                    <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Chi Tiết Giỏ Hàng</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!-- //Nếu không có bất kì sản phẩm nào trong cửa hàng, sẽ hiện giao diện giỏ hàng trống-->

    if (Model.Count() == 0)
    {
        <div class="empty-cart-img">
            <img class="" style="width:100%; height:100%;" src="~/Data/Files/cartEmpty3.png" />

            <h1 class="empty-cart-alert centered-empty-cart">Chưa có sản phẩm trong giỏ hàng của bạn.</h1>
            <a href="/thuc-don">

                <button class="button-buy-now">Mua Sắm Ngay</button>
            </a>
        </div>
    }
    else
    {
        <div class="w3-services py-5">
            <div class="container" style="padding:24px 0;">
                <div class="form-horizontal">
                    <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom: 60px; color: #146d4d;">Giỏ Hàng</h3>
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="">
                                <hr class="style-10" />
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Sản Phẩm</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Số Lượng</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Số Tiền</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <th scope="row" style="display: flex; padding: 0; margin:30px 0 0 0;">
                                                    <div class="img-product-wrap">
                                                        <img class="img-product" src="@item.ChiTietSanPham.UrlImage" />
                                                    </div>
                                                    <div class="product-details">
                                                        <div>
                                                            <h3 class="product-title">
                                                                @item.ChiTietSanPham.TenSanPham
                                                            </h3>
                                                            <p class="product-note" style="margin-bottom: 0">
                                                                Size: @item.Size
                                                            </p>
                                                            <p class="product-note">
                                                                @item.Topping
                                                            </p>

                                                        </div>
                                                        <p class="product-price">
                                                            @{
                                                                var b = item.Gia;
                                                                b = b / 1000;
                                                            }
                                                            @b.000 đ
                                                        </p>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">

                                                        <button class="button-quantity-decrease" id="decreaseQtyButton" data-id="@item.ChiTietSanPham.ID"
                                                                data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia" data-qty="@item.Quantity">
                                                            -
                                                        </button>
                                                        <input class="quantity-product" type="number" value="@item.Quantity" readonly />
                                                        <button class="button-quantity-increase" id="increaseQtyButton" data-id="@item.ChiTietSanPham.ID"
                                                                data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia">
                                                            +
                                                        </button>
                                                    </div>

                                                </td>

                                                <td style="padding-right: 30px;">
                                                    <p class="total-price">
                                                        @{
                                                            var c = item.Gia * item.Quantity;
                                                            //Tính tổng giá
                                                            TongGia += c;
                                                            c = c / 1000;
                                                        }
                                                        @c.000 đ
                                                    </p>
                                                </td>
                                                <td>
                                                    <a class="button-delete" style="display:flex; justify-content:center;" data-id="@item.ChiTietSanPham.ID"
                                                       data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia">
                                                        <img src="~/Data/Files/deleteIcon.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div id="wrap-order-summary">
                                <h3 class="order-summary-title">TỔNG ĐƠN</h3>
                                <hr class="style-10" />
                                <div style="margin-bottom: 100px;">
                                    <div class="wrap-sub-total">
                                        <p class="sub-total">TỔNG TIỀN HÀNG</p>
                                        <p class="sub-total" style="font-weight:600;">
                                            @{
                                                var g = TongGia;
                                                g = g / 1000;
                                            }
                                            @g.000 đ
                                        </p>
                                    </div>
                                    <div class="wrap-giamgia">
                                        @if (isKM == true)
                                        {
                                            <div style="display:flex; flex-direction:column;">
                                                <p class="sub-total">GIẢM GIÁ</p>
                                                <p class="sub-total">(@km.TenKM)</p>
                                            </div>
                                            <p class="sub-total" style="font-weight:600;">
                                                @{
                                                    e = (TongGia * km.PhanTramKM / 100);
                                                    e = e / 1000;
                                                }
                                                @e.000đ
                                            </p>
                                        }
                                        else
                                        {
                                            <div>
                                                <p class="sub-total">GIẢM GIÁ</p>
                                                <p class="sub-total"></p>
                                            </div>
                                            <p class="sub-total" style="font-weight:600;">__</p>
                                        }
                                    </div>
                                </div>

                                <hr class="style-10" />
                                <div>
                                    <div class="wrap-estimated-total">
                                        <p class="sub-total">TỔNG SỐ TIỀN </p>
                                        <p class="sub-total" style="color:#146d4d; font-weight: 600;">
                                            @(g-e).000 đ
                                        </p>
                                    </div>
                                </div>
                                    <a href="/giao-hang">
                                        <button class="button-checkout">
                                            THANH TOÁN
                                        </button>
                                    </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <section class="w3l-about-breadcrumb position-relative text-center">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container py-lg-5 py-3">
                @if (nd.Role == "ADMIN" || nd.Role == "Nhân viên")
                {
                    <h2 class="title text-morii">Hóa Đơn</h2>
                    <ul class="breadcrumbs-custom-path mt-2">
                        <li><a href="Index">Hóa Đơn</a></li>
                        <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Thanh Toán Hóa Đơn</li>
                    </ul>

                }
                else
                {
                    <h2 class="title text-morii">Tài Khoản Của Tôi</h2>
                    <ul class="breadcrumbs-custom-path mt-2">
                        <li><a href="Index">Đặt Hàng</a></li>
                        <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Chi Tiết Giỏ Hàng</li>
                    </ul>
                }

            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!-- //Nếu không có bất kì sản phẩm nào trong cửa hàng, sẽ hiện giao diện giỏ hàng trống-->

    if (Model.Count() == 0)
    {
        <div class="empty-cart-img">
            <img class="" style="width:100%; height:100%;" src="~/Data/Files/cartEmpty3.png" />

            <h1 class="empty-cart-alert centered-empty-cart">Chưa có sản phẩm trong giỏ hàng của bạn.</h1>
            <a href="/thuc-don">

                <button class="button-buy-now">Mua Sắm Ngay</button>
            </a>
        </div>
    }
    else
    {
        <div class="w3-services py-5">

            <div class="container" style="padding:24px 0;">
                <div class="form-horizontal">
                    @if (nd.Role == "ADMIN" || nd.Role == "Nhân viên")
                    {

                        <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom: 60px; color: #146d4d;">Thanh Toán Hóa Đơn</h3>
                    }
                    else
                    {
                        <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom: 60px; color: #146d4d;">Giỏ Hàng</h3>

                    }
                    <div class="row">
                        <div class="col-sm-8">
                            <div style="">
                                <hr class="style-10" />
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Sản Phẩm</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Số Lượng</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Số Tiền</th>
                                            <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB;">Thao Tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <th scope="row" style="display: flex; padding: 0; margin:30px 0 0 0;">
                                                    <div class="img-product-wrap">
                                                        <img class="img-product" src="@item.ChiTietSanPham.UrlImage" />
                                                    </div>
                                                    <div class="product-details">
                                                        <div>
                                                            <h3 class="product-title">
                                                                @item.ChiTietSanPham.TenSanPham
                                                            </h3>
                                                            <p class="product-note" style="margin-bottom: 0">
                                                                Size: @item.Size
                                                            </p>
                                                            <p class="product-note">
                                                                @item.Topping
                                                            </p>

                                                        </div>
                                                        <p class="product-price">
                                                            @{
                                                                var b = item.Gia;
                                                                b = b / 1000;
                                                            }
                                                            @b.000 đ
                                                        </p>
                                                    </div>
                                                </th>
                                                <td>
                                                    <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">

                                                        <button class="button-quantity-decrease" id="decreaseQtyButton" data-id="@item.ChiTietSanPham.ID"
                                                                data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia" data-qty="@item.Quantity">
                                                            -
                                                        </button>
                                                        <input class="quantity-product" type="number" value="@item.Quantity" readonly />
                                                        <button class="button-quantity-increase" id="increaseQtyButton" data-id="@item.ChiTietSanPham.ID"
                                                                data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia">
                                                            +
                                                        </button>
                                                    </div>

                                                </td>

                                                <td style="padding-right: 30px;">
                                                    <p class="total-price">
                                                        @{
                                                            var c = item.Gia * item.Quantity;
                                                            //Tính tổng giá
                                                            TongGia += c;
                                                            c = c / 1000;
                                                        }
                                                        @c.000 đ
                                                    </p>
                                                </td>
                                                <td>
                                                    <a class="button-delete" style="display:flex; justify-content:center;" data-id="@item.ChiTietSanPham.ID"
                                                       data-size="@item.Size" data-topping="@item.Topping" data-gia="@item.Gia">
                                                        <img src="~/Data/Files/deleteIcon.png" />
                                                    </a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div id="wrap-order-summary">
                                <h3 class="order-summary-title">TỔNG ĐƠN</h3>
                                <hr class="style-10" />
                                <div style="margin-bottom: 100px;">
                                    <div class="wrap-sub-total">
                                        <p class="sub-total">TỔNG TIỀN HÀNG</p>
                                        <p class="sub-total" style="font-weight:600;">
                                            @{
                                                var d = TongGia;
                                                d = d / 1000;
                                            }
                                            @d.000 đ
                                        </p>
                                    </div>
                                    <div class="wrap-giamgia">
                                        @if (isKM == true)
                                        {
                                            <div style="display:flex; flex-direction:column;">
                                                <p class="sub-total">GIẢM GIÁ</p>
                                                <p class="sub-total">(@km.TenKM)</p>
                                            </div>
                                            <p class="sub-total" style="font-weight:600;">
                                                @{
                                                    e = (TongGia * km.PhanTramKM / 100);
                                                    e = e / 1000;
                                                }
                                                @e.000đ
                                            </p>
                                        }
                                        else
                                        {
                                            <div>
                                                <p class="sub-total">GIẢM GIÁ</p>
                                                <p class="sub-total"></p>
                                            </div>
                                            <p class="sub-total" style="font-weight:600;">__</p>
                                        }
                                    </div>
                                </div>

                                <hr class="style-10" />
                                <div>
                                    <div class="wrap-estimated-total">
                                        <p class="sub-total">TỔNG SỐ TIỀN </p>
                                        <p class="sub-total" style="color:#146d4d; font-weight: 600;">
                                            @(d-e).000 đ
                                        </p>
                                    </div>
                                </div>
                                @if (nd.Role == "ADMIN" || nd.Role == "Nhân viên")
                                {
                                    <button data-id="@nd.ID" class="button-checkout button-thanhtoan">
                                        THANH TOÁN
                                    </button>
                                }
                                else
                                {
                                    <a href="/giao-hang">
                                        <button class="button-checkout">
                                            THANH TOÁN
                                        </button>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<!-- about breadcrumb -->


<script>
    $(document).ready(function () {
        $(".button-quantity-increase").on('click',
            function handleClickIncreaseQty(e) {
                e.preventDefault();
                var id = $(this).data("id");
                var size = $(this).data("size");
                var topping = $(this).data("topping");
                var gia = $(this).data("gia");
                console.log(id, size, topping, gia);
                $.ajax({
                    type: "POST",
                    url: "/GioHang/IncreaseQtyJson",
                    data: {
                        id: id,
                        size: size,
                        topping: topping,
                        gia: gia
                    },
                    dataType: "json",
                    success: function (res) {
                        console.log("NguyenHuuLong --> ", res.msg);
                        console.log("NguyenHuuLong --> err", res.err);
                        console.log(res.id, res.size, res.gia, res.topping);

                        window.location.replace("https://localhost:44309/gio-hang");
                    },
                    error: function (err) {
                        console.log("err --> ", err);
                        console.log("err ->>", err.err);
                    },
                });
            }
        )

        $('.button-quantity-decrease').on('click',
            function handleClickIncreaseQty(e) {
                e.preventDefault();
                var id = $(this).data("id");
                var size = $(this).data("size");
                var topping = $(this).data("topping");
                var gia = $(this).data("gia");
                var qty = $(this).data("qty")
                if (qty > 1) {
                    $.ajax({
                        type: "POST",
                        url: "/GioHang/DecreaseQtyJson",
                        data: {
                            id: id,
                            size: size,
                            topping: topping,
                            gia: gia
                        },
                        dataType: "json",
                        success: function (res) {

                            window.location.replace("https://localhost:44309/gio-hang");
                        },
                        error: function (err) {
                            console.log("err --> ", err);
                            console.log("err ->>", err.err);
                        },
                    });
                }
            }
        )


        $('.button-delete').on('click',
            function handleClickIncreaseQty(e) {
                e.preventDefault();
                var id = $(this).data("id");
                var size = $(this).data("size");
                var topping = $(this).data("topping");
                var gia = $(this).data("gia");
                var qty = $(this).data("qty")

                $.ajax({
                    type: "POST",
                    url: "/GioHang/DeleteItemJson",
                    data: {
                        id: id,
                        size: size,
                        topping: topping,
                        gia: gia
                    },
                    dataType: "json",
                    success: function (res) {
                        window.location.replace("https://localhost:44309/gio-hang");
                    },
                    error: function (err) {
                        console.log("err --> ", err);
                        console.log("err ->>", err.err);
                    },
                });
            }
        )


        $(".button-thanhtoan").on('click',
            function handleClickCheckout(e) {
                e.preventDefault();
                var id = $(this).data("id");
                $.ajax({
                    type: "POST",
                    url: "/GiaoHang/ThanhToanHoaDonJson",
                    data: {
                        id: id,
                    },
                    dataType: "json",
                    success: function (res) {
                        if (res.isValid) {
                            $('.message-success').append("Đặt hàng thành công. ");
                            window.location.replace("https://localhost:44309/admin/hoa-don/details/" + res.idhd);
                        }
                        if (res.errMsg) {
                            $(".message-error").append(res.errMsg);
                            topFunction();
                        }
                    },
                    error: function (err) {
                        console.log("err --> ", err);
                        console.log("err ->>", err.err);
                    },
                });
            }
        )

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    });
</script>


<style>

    .empty-cart-img {
        width: 100%;
        position: relative;
        text-align: center;
        color: #000;
        margin-bottom: 100px;
    }

    .centered-empty-cart {
        position: absolute;
        top: calc(50% + 140px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .button-buy-now {
        position: absolute;
        top: calc(50% + 220px);
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background-color: #146d4d;
        border-radius: 15px;
        padding: 26px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    #wrap-order-summary {
        padding: 24px;
    }

    .order-summary-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 14px;
    }

    .wrap-sub-total {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .wrap-giamgia {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrap-estimated-total {
        display: flex;
        justify-content: space-between;
    }

    .sub-total {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }

    .button-checkout {
        margin-top: 36px;
        border: none;
        background-color: #146d4d;
        border-radius: 15px;
        padding: 16px;
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    #wrap-order-summary {
        background-color: #F5F5F6;
        border-radius: 15px;
    }

    .img-product {
        width: 120px;
        height: 120px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .product-details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .product-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    .product-note {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        max-width: 260px;
    }

    .product-price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #146d4d;
    }

    .quantity-product {
        width: 50px;
        height: 33px;
        border: 2px solid #CFCFCF;
        text-align: center;
        margin: 0 13px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .button-quantity-decrease {
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        outline: none !important;
    }

    .button-quantity-increase {
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        outline: none !important;
    }



    .total-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #146d4d;
    }

    .img-header-avt:hover {
        cursor: pointer
    }

    .form-check-label {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .form-check-input {
        padding: 7px;
        width: 100%;
        height: 2em;
    }

    button, input, select, label, li {
        -webkit-appearance: button;
    }

    .form-group {
        margin: 30px 0 30px 0;
    }

    .profile-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-header {
        margin-right: 50px;
    }

    .button-profile-save {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .button-profile-save > button {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background-color: #146d4d;
            padding: 14px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
        }

    hr.style10 {
        border-top: 0.5px dotted #E5E5E5;
        border-bottom: 1px dotted #fff;
    }
</style>
