
@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    long TongGia = 0;
    var nd = ViewBag.ndd;
    var km = ViewBag.km;
    var isKM = ViewBag.isKM;
    long e = 0;
}

@model List<MoriiCoffee.Common.CartItem>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@foreach (var item in Model)
{
    var c = item.Gia * item.Quantity;
    //Tính tổng giá
    TongGia += c;
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb position-relative text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-lg-5 py-3">
            <h2 class="title text-morii">Tài Khoản Của Tôi</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="Index">Đặt Hàng</a></li>
                <li class="active"><span class="fa fa-angle-double-right mx-2" aria-hidden="true"></span>Giao Hàng</li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->

<div class="w3-services py-5">
    <div class="container" style="padding:24px 0;">
        <div class="form-horizontal">
            <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom: 30px; color: #146d4d;">Thông Tin Giao Hàng</h3>
           
            <div class="form-group row">
                <div class="message-error" style="color: #dc3545 !important; font-size: 20px;" role="alert"></div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <div>
                        <div class="form-detail" style="">

                            <div class="form-group row" style="margin-top:0">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <input type="text" class="form-control form-control-lg" id="hoTenLabel" placeholder="Họ Tên" name="HoTen" value="@nd.HoTen">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <input type="number" class="form-control form-control-lg" id="phoneLabel" placeholder="SĐT" name="SDT" value="@nd.SDT">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <input type="email" class="form-control form-control-lg" id="emailLabel" placeholder="Email" name="Email" value="@nd.Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <input type="text" class="form-control form-control-lg" id="addressLabel" placeholder="Địa Chỉ (VD: KTX Khu A - ĐHQG TPHCM)" name="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12" style="padding-left: 0;">
                                    <input type="text" class="form-control form-control-lg" id="noteLabel" placeholder="Ghi Chú (VD: Không Đá, Giao Trước 11 Giờ,...)" name="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <input type="checkbox" checked name="my-checkbox" id="saveAddress" />
                                <label for="saveAddress" style="font-weight: 600; font-size: 16px; line-height: 20px; color: #000000; margin: 0 0 0 8px;">
                                    Lưu địa chỉ đặt hàng.
                                </label>
                            </div>
                        </div>

                        <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom: 40px; margin-top: 60px; color: #146d4d;">Phương Thức Thanh Toán</h3>
                        <div class="form-check col-sm-12" style="">
                            <input class="paymentMethodInput" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="COD" checked>
                            <label class="labelPaymentMethod" for="flexRadioDefault1" style="margin-bottom: 0;">
                                <img class="imgPaymentMethod" src="~/Data/Files/COD-svg.svg" />
                                COD
                            </label>
                        </div>
                        <style>
                        </style>
                        <div class="form-check">
                            <input class="paymentMethodInput" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="Momo">
                            <label class="labelPaymentMethod" for="flexRadioDefault2" style="margin-bottom: 0;">
                                <img class="imgPaymentMethod" src="~/Data/Files/Momo-png.png" />
                                Momo
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="paymentMethodInput" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="Paypal">
                            <label class="labelPaymentMethod" for="flexRadioDefault3" style="margin-bottom: 0;">
                                <img class="imgPaymentMethod" src="~/Data/Files/Paypal-svg.svg" />
                                Paypal
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-sm-5">
                    <div id="wrap-order-summary">
                        <h3 class="order-summary-title">TỔNG ĐƠN</h3>
                        <hr class="style-10" />
                        <div style="margin-bottom: 100px;">
                            <div class="wrap-sub-total">
                                <p class="sub-total">TỔNG TIỀN HÀNG</p>
                                <p class="sub-total" style="font-weight:600;">
                                    @{
                                        var a = TongGia;
                                        a = a / 1000;
                                    }
                                    @a.000 đ
                                </p>
                            </div>
                            
                            <div class="wrap-giamgia">
                                @if (isKM == true)
                                {
                                    <div style="display:flex; flex-direction:column;">
                                        <p class="sub-total">GIẢM GIÁ</p>
                                        <p class="sub-total">(@km.TenKM)</p>
                                    </div>
                                    <p class="sub-total" style="font-weight:600;">
                                        @{
                                            e = (TongGia * km.PhanTramKM / 100);
                                            e = e / 1000;
                                        }
                                        @e.000đ
                                    </p>
                                }
                                else
                                {
                                    <p class="sub-total">GIẢM GIÁ</p>
                                    <p class="sub-total" style="font-weight:600;">__</p>
                                }
                            </div>
                            <div class="wrap-phivanchuyen">
                                <p class="sub-total">PHÍ VẬN CHUYỂN</p>
                                <p class="sub-total" style="font-weight:600;">30.000 đ</p>
                            </div>
                        </div>

                        <hr class="style-10" />
                        <div>
                            <div class="wrap-estimated-total">
                                <p class="sub-total">TỔNG SỐ TIỀN </p>
                                <p class="sub-total" style="color:#146d4d; font-weight: 600;">
                                    @{
                                        var b = TongGia - e*1000 + 30000;
                                        b = b / 1000;
                                    }
                                    @b.000 đ
                                </p>
                            </div>
                        </div>
                        <button data-id="@nd.ID" class="button-checkout">
                            ĐẶT GIAO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".button-checkout").on('click',
            function handleClickCheckout(e) {
                e.preventDefault();
                var id = $(this).data("id");
                var hoTen = $('#hoTenLabel').val();
                var sdt = $('#phoneLabel').val();
                var email = $('#emailLabel').val();
                var diaChi = $('#addressLabel').val();
                var ghiChu = $('#noteLabel').val();
                var pttt = "";
                var pttt = $('input[name="flexRadioDefault"]:checked').val();
                $.ajax({
                    type: "POST",
                    url: "/GiaoHang/DatGiaoJson",
                    data: {
                        id: id,
                        hoTen: hoTen,
                        sdt: sdt,
                        email: email,
                        diaChi: diaChi,
                        ghiChu: ghiChu,
                        pttt: pttt,
                    },
                    dataType: "json",
                    success: function (res) {
                        if (res.isValid) {
                            $('.message-success').append("Đặt hàng thành công. ");
                            window.location.replace("https://localhost:44309/profile/don-dat");
                        }
                        if (res.errMsg) {
                            $(".message-error").append(res.errMsg);
                            topFunction();
                        }
                    },
                    error: function (err) {
                        console.log("err --> ", err);
                        console.log("err ->>", err.err);
                    },
                });
            }
        )

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    })
</script>

<style>
    .form-check {
        padding: 8px 16px;
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        border: 1px solid #ced4da;
        margin-bottom: 20px;
    }

    .labelPaymentMethod {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    .paymentMethodInput {
        margin-right: 40px;
    }

    .imgPaymentMethod {
        margin-right: 16px;
    }

    #wrap-order-summary {
        padding: 24px;
    }

    .order-summary-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 14px;
    }

    .wrap-sub-total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .wrap-giamgia {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .wrap-phivanchuyen {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrap-estimated-total {
        display: flex;
        justify-content: space-between;
    }

    .sub-total {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }

    .button-checkout {
        margin-top: 36px;
        border: none;
        background-color: #146d4d;
        border-radius: 15px;
        padding: 16px;
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    #wrap-order-summary {
        background-color: #F5F5F6;
        border-radius: 15px;
    }

    .img-product {
        width: 100px;
        height: 100px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .product-details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .product-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    .product-note {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
    }

    .product-price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #146d4d;
    }

    .quantity-product {
        width: 50px;
        height: 33px;
        border: 2px solid #CFCFCF;
        text-align: center;
        margin: 0 13px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .button-quantity {
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        outline: none !important;
    }

    .total-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #146d4d;
    }

    .img-header-avt:hover {
        cursor: pointer
    }

    .form-check-label {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .form-check-input {
        padding: 7px;
        width: 100%;
        height: 2em;
    }

    button, input, select, label, li {
        -webkit-appearance: button;
    }

    .form-group {
        margin: 30px 0 30px 0;
    }

    .profile-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-header {
        margin-right: 50px;
    }

    .button-profile-save {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .button-profile-save > button {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background-color: #146d4d;
            padding: 14px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
        }



    hr.style10 {
        border-top: 0.5px dotted #E5E5E5;
        border-bottom: 1px dotted #fff;
    }
</style>

