<!DOCTYPE html>
<html>
<head>
    <title>MoriiCoffee</title>
    <link rel="icon" type="image/x-icon" href="~/Assets/Images/LogoMorii1.png">
    @*<link href="~/Assets/Admin/css/examples.css" rel="stylesheet" />
        <link href="~/Assets/Admin/css/examples.min.css" rel="stylesheet" />
        <link href="~/Assets/Admin/css/style.css" rel="stylesheet" />
        <link href="~/Assets/Admin/css/style.min.css" rel="stylesheet" />
        <a href="~/Assets/Admin/css/examples.css.map"></a>
        <a href="~/Assets/Admin/css/examples.min.css.map"></a>
        <a href="~/Assets/Admin/css/style.css.map"></a>
        <a href="~/Assets/Admin/css/style.min.css.map"></a>
        <a href="~/Assets/Admin/css/vendors/simplebar.css.map"></a>
        <link href="~/Assets/Admin/css/vendors/simplebar.css" rel="stylesheet" />
        <script src="~/Assets/Admin/js/charts.js"></script>
        <script src="~/Assets/Admin/js/colors.js"></script>
        <script src="~/Assets/Admin/js/main.js"></script>
        <script src="~/Assets/Admin/js/popovers.js"></script>
        <script src="~/Assets/Admin/js/toasts.js"></script>
        <script src="~/Assets/Admin/js/tooltips.js"></script>
        <script src="~/Assets/Admin/js/widgets.js"></script>
        <a href="~/Assets/Admin/js/charts.js.map"></a>
        <a href="~/Assets/Admin/js/colors.js.map"></a>
        <a href="~/Assets/Admin/js/main.js.map"></a>
        <a href="~/Assets/Admin/js/popovers.js.map"></a>
        <a href="~/Assets/Admin/js/toasts.js.map"></a>
        <a href="~/Assets/Admin/js/tooltips.js.map"></a>
        <a href="~/Assets/Admin/js/widgets.js.map"></a>
        <link href="~/Assets/Admin/vendors/core-ui/chartjs/css/coreui-chartjs.css" rel="stylesheet" />
        <a href="~/Assets/Admin/vendors/core-ui/chartjs/css/coreui-chartjs.css.map"></a>
        <a href="~/Assets/Admin/vendors/core-ui/chartjs/js/coreui-chartjs.js.map"></a>
        <script src="~/Assets/Admin/vendors/core-ui/chartjs/js/coreui-chartjs.js"></script>
        <script src="~/Assets/Admin/vendors/core-ui/coreui/js/coreui.bundle.min.js"></script>
        <a href="~/Assets/Admin/vendors/core-ui/coreui/js/coreui.bundle.min.js.map"></a>
        <link href="~/Assets/Admin/vendors/core-ui/icons/css/brand.min.css" rel="stylesheet" />
        <link href="~/Assets/Admin/vendors/core-ui/icons/css/flag.min.css" rel="stylesheet" />
        <link href="~/Assets/Admin/vendors/core-ui/icons/css/free.min.css" rel="stylesheet" />
        <a href="~/Assets/Admin/vendors/core-ui/icons/css/brand.min.css.map"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/css/flag.min.css.map"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/css/free.min.css.map"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Brand.eot"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Brand.ttf"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Brand.woff"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Free.eot"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Free.ttf"></a>
        <a href="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Free.woff"></a>
        <img src="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Brand.svg" />
        <img src="~/Assets/Admin/vendors/core-ui/icons/fonts/CoreUI-Icons-Free.svg" />
        <script src="~/Assets/Admin/vendors/core-ui/utils/js/coreui-utils.js"></script>
        <script src="~/Assets/Admin/vendors/chart.js/js/chart.min.js"></script>
        <link href="~/Assets/Admin/vendors/simplebar/css/simplebar.css" rel="stylesheet" />
        <script src="~/Assets/Admin/vendors/simplebar/js/simplebar.min.js"></script>*@
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>


    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <link rel="manifest" href="~/Assets/Admin/assets/favicon/manifest.json">
    <link rel="icon" type="image/x-icon" href="~/Assets/Images/LogoMorii1.png">
    <script src="~/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/Client/js/jquery.countup.js"></script>
    <script src="~/Assets/Client/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/Client/js/jquery.magnific-popup.min.js"></script>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/Assets/Admin/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="~/Assets/Admin/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="~/Assets/Admin/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/themes/prism.css">
    <link href="~/Assets/Admin/css/examples.css" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>
    <link href="~/Assets/Admin/vendors/core-ui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>
    <link href="~/Assets/Admin/vendors/core-ui/chartjs/css/coreui-chartjs.css" rel="stylesheet">


    @RenderSection("head", required: false)
</head>
<body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">
            @*<svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
                    <use xlink:href="~/Assets/Admin/assets/brand/coreui.svg#full"></use>
                </svg>*@
            <img src="~/Assets/Images/LogoMorii1.png" width="118" height="46" />
            <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="~/Assets/Admin/assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-item">
                <a class="nav-link" href="~/Admin">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-speedometer"></use>
                    </svg> Trang chủ
                </a>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle" href="Admin/san-pham">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-mug"></use>
                    </svg> Sản phẩm<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="~/Admin/san-pham"><span class="nav-icon"></span> Danh sách sản phẩm</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Admin/san-pham/create"><span class="nav-icon"></span> Thêm sản phẩm</a></li>
                </ul>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle" href="Admin/Blog">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-newspaper"></use>
                    </svg> Blog<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="~/Admin/Blog"><span class="nav-icon"></span> Danh sách Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Admin/Blog/Create"><span class="nav-icon"></span> Thêm Blog</a></li>
                </ul>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle" href="Admin/Blog">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-user"></use>
                    </svg> Khách hàng<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="~/Admin/khach-hang"><span class="nav-icon"></span> Danh sách khách hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Admin/khach-hang/Create"><span class="nav-icon"></span> Thêm khách hàng</a></li>
                </ul>
            </li>
            <li class="nav-group">
                <a class="nav-link nav-group-toggle" href="Admin/Blog">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-people"></use>
                    </svg> Nhân viên<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" href="~/Admin/nhan-vien"><span class="nav-icon"></span> Danh sách nhân viên</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Admin/nhan-vien/Create"><span class="nav-icon"></span> Thêm nhân viên</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-cart"></use>
                    </svg> Đơn đặt<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-notes"></use>
                    </svg> Báo cáo<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-cash"></use>
                    </svg> Hóa đơn<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="~/">
                    <svg class="nav-icon">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-coffee"></use>
                    </svg> Morii<span class="badge badge-sm bg-info ms-auto"></span>
                </a>
            </li>
        </ul>
        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header class="header header-sticky mb-4">
            <div class="container-fluid">

                <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                    <svg class="icon icon-lg">
                        <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-menu"></use>
                    </svg>
                </button><a class="header-brand d-md-none" href="#">
                    <svg width="118" height="46" alt="CoreUI Logo">
                        <use xlink:href="~/Assets/Admin/assets/brand/coreui.svg#full"></use>
                    </svg>
                </a>
                <ul class="header-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg class="icon icon-lg">
                                <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-bell"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg class="icon icon-lg">
                                <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-list-rich"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg class="icon icon-lg">
                                <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-envelope-open"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <ul class="header-nav ms-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar avatar-md"><img class="avatar-img" src="~/Assets/Images/MoriiFeedback4.jpg" alt="user@email.com"></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end pt-0">
                            <div class="dropdown-header bg-light py-2">
                                <div class="fw-semibold">Account</div>
                            </div><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-bell"></use>
                                </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span>
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-envelope-open"></use>
                                </svg> Messages<span class="badge badge-sm bg-success ms-2">42</span>
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-task"></use>
                                </svg> Tasks<span class="badge badge-sm bg-danger ms-2">42</span>
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-comment-square"></use>
                                </svg> Comments<span class="badge badge-sm bg-warning ms-2">42</span>
                            </a>
                            <div class="dropdown-header bg-light py-2">
                                <div class="fw-semibold">Settings</div>
                            </div><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-user"></use>
                                </svg> Profile
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-settings"></use>
                                </svg> Settings
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-credit-card"></use>
                                </svg> Payments<span class="badge badge-sm bg-secondary ms-2">42</span>
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-file"></use>
                                </svg> Projects<span class="badge badge-sm bg-primary ms-2">42</span>
                            </a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-lock-locked"></use>
                                </svg> Lock Account
                            </a><a class="dropdown-item" href="#">
                                <svg class="icon me-2">
                                    <use xlink:href="~/Assets/Admin/vendors/core-ui/icons/svg/free.svg#cil-account-logout"></use>
                                </svg> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="header-divider"></div>
            @RenderSection("breadcrumb", required: false)

        </header>
        @RenderBody()
    </div>

    <style>
        .sidebar-nav .nav-link {
            padding: 20px;
        }
    </style>



    @RenderSection("footer", required: false)
    <!-- CoreUI and necessary plugins-->
    <script src="~/Assets/Admin/vendors/core-ui/coreui/js/coreui.bundle.min.js"></script>
    <script src="~/Assets/Admin/vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="~/Assets/Admin/vendors/chart.js/js/chart.min.js"></script>
    <script src="~/Assets/Admin/vendors/core-ui/chartjs/js/coreui-chartjs.js"></script>
    <script src="~/Assets/Admin/vendors/core-ui/utils/js/coreui-utils.js"></script>
    <script src="~/Assets/Admin/js/main.js"></script>

    @RenderSection("MoriiAdminJS", false)

</body>
</html>
