
@model PagedList.IPagedList<Model.EF.ChiTietSanPham>
@using PagedList.Mvc;

@section breadcrumb {
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                    <!-- if breadcrumb is single-->
                    <span>Sản Phẩm</span>
                </li>
                <li class="breadcrumb-item active"><span>Danh Sách Sản Phẩm</span></li>
            </ol>
        </nav>
    </div>
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var ctsps = ViewBag.ctsps;
    var sps = ViewBag.sps;
    var nd = ViewBag.ndd;
}
<div class="w3-services py-5" style="margin-bottom: 48px;">
    <div class="container">
        <div class="form-horizontal">
            <h3 style="font-weight: 700; font-size: 40px; line-height: 49px; margin-bottom:60px;">Danh Sách Sản Phẩm</h3>
            <hr class="style-10" />
            <div class="row wrap-button-products">
                <div>
                    <a class="button-products-link">
                        <button class="button-products" id="tat-ca" data-name="Tất Cả">
                            Tất Cả
                        </button>
                    </a>
                    <a class="button-products-link">
                        <button class="button-products" id="ca-phe" data-name="Cà Phê">
                            Cà Phê
                        </button>
                    </a>
                    <a class="button-products-link">
                        <button class="button-products" id="tra-sua" data-name="Trà Sữa">
                            Trà Sữa
                        </button>
                    </a>
                    <a class="button-products-link">
                        <button class="button-products" id="topping" data-name="Topping">
                            Topping
                        </button>
                    </a>
                    <a class="button-products-link">
                        <button class="button-products button-active" id="khac" data-name="Khác">
                            Khác
                        </button>
                    </a>
                </div>
            </div>

            <div class="panel-body">
                @using (Html.BeginForm("DanhSachKhac", "ChiTietSanPham", FormMethod.Get))
                {
                    <div class="form-group col-sm-4" style="display: flex; gap: 10px; white-space: nowrap; margin-bottom: 20px;">
                        <input value="@ViewBag.SearchString" name="searchString" class="form-control form-control-lg" type="text" id="search" placeholder="Tìm Kiếm..." autocomplete="off">
                        <a class="button-products-link">
                            <button class="button-active" style="font-weight: 600; font-size: 18px; line-height: 22px; padding: 12px 14px; text-align: center; border: 1px solid #146d4d; border-radius: 8px; margin-right: 12px;">
                                Tìm Kiếm
                            </button>
                        </a>
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div style="">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Mã Sản Phẩm</th>
                                    <th scope="col" style="font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Sản Phẩm</th>
                                    <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Phân Loại</th>
                                    <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Ngày Đăng</th>
                                    <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">
                                        Trạng Thái
                                    </th>
                                    <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Giá</th>
                                    <th scope="col" style="text-align: center; font-weight: 700; font-size: 15px; line-height: 18px; color: #ABABAB; text-transform: uppercase;">Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th style="vertical-align: middle;">
                                            <p class="" style="padding-left:20px;">#@item.ID</p>
                                        </th>
                                        <td scope="row" style="display: flex; padding: 0; margin:30px 0 0 0;">
                                            <div class="img-product-wrap">
                                                <img class="img-product" src="@item.UrlImage" />
                                            </div>
                                            <div class="product-details">
                                                <div>
                                                    <h3 class="product-title">
                                                        @item.TenSanPham
                                                    </h3>
                                                </div>
                                                <p class="product-desc">@item.MoTaSanPham</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div style="display:flex; flex-direction:row; justify-content:center; align-items:center;">
                                                @foreach (var it in sps)
                                                {
                                                    if (it.ID == item.MaPhanLoai)
                                                    {
                                                        <p class="phanLoai ngayDang">@it.PhanLoai</p>
                                                    }
                                                }
                                            </div>

                                        </td>
                                        <td>
                                            <p class="ngayDang">
                                                @item.CreatedDate
                                            </p>
                                        </td>
                                        <td>

                                            @if (item.Status == true)
                                            {


                                                <p class="trangThai ngayDang">Đang Mở Bán</p>
                                            }
                                            else
                                            {
                                                <p class="trangThai ngayDang">Chưa Mở Bán</p>
                                            }
                                        </td>
                                        <td>
                                            <p class="total-price">
                                                @{
                                                    var a = item.Gia;
                                                    a = a / 1000;
                                                }
                                                @a.000 đ
                                            </p>
                                        </td>
                                        <td>
                                            <div style="display:flex; justify-content:center; align-items:center;">
                                                <a class="button-detail button-option" href="/admin/san-pham/details/@item.ID">
                                                    <img src="~/Data/Files/detail.png" />
                                                </a>
                                                @if (nd.Role == "ADMIN")
                                                {
                                                    <a class="button-edit button-option" href="/admin/san-pham/update/@item.ID">
                                                        <img src="~/Data/Files/edit.png" />
                                                    </a>
                                                    <a class="button-delete button-option huyDonHang huyDonHangButton" data-id="@item.ID" id="huyDonHangButton_@item.ID" data-toggle="modal" data-target="#exampleModal">
                                                        <img src="~/Data/Files/deleteIcon.png" />
                                                    </a>
                                                }
                                            </div>

                                        </td>
                                        <!-- Modal -->
                                        <div class="modal fade huyDonHangModal" id="exampleModal_@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Xác Nhận Xóa Sản Phẩm
                                                            <strong>
                                                                #@item.ID
                                                            </strong>
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        Sản Phẩm #@item.ID Sẽ Được Xóa Ngay Lập Tức. Bạn Có Muốn Xóa Sản Phẩm Này?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="closeButton_@item.ID" data-id="@item.ID" class="closeButton btn-secondary" style="background-color:#ABABAB; outline:none;" data-dismiss="modal">Đóng</button>
                                                        <a href="/admin/san-pham/delete/@item.ID">
                                                            <button class="xacNhanHuyButton" data-id="@item.ID" id="xacNhanHuyButton_@item.ID">Xác Nhận</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <section class="panel" style="display: flex; justify-content: end; padding-right:12px;">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <br />
                                    @Html.PagedListPager(Model, page => Url.Action("DanhSachKhac", new { page, @searchString = @ViewBag.SearchString }))
                                </div>
                            </div>
                        </section>
                        <div style="display: flex; justify-content: flex-end; align-items: center; margin-top: 32px; text-decoration: none; padding-right:12px;">
                            <a href="~/admin/san-pham/create" style="font-weight: 500; font-size: 16px; line-height: 20px; color: #146d4d; text-decoration:none;">
                                Thêm Mới Sản Phẩm
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.optionsSelect').click(function (e) {
            var idToggle = $(this).data("id");
            var isHasClass = $("#Toggle_" + idToggle).hasClass("show");
            e.preventDefault();
            e.stopPropagation();
            $(".toggle-options-select").removeClass("show");
            if (isHasClass == false) {
                $("#Toggle_" + idToggle).addClass("show");
            } else {
                $("#Toggle_" + idToggle).removeClass("show");
            }

        })
        $(window).click(function () {
            $(".toggle-options-select").removeClass("show");
        })

        $('.xemChiTiet').click(function () {
            var idXemChiTiet = $(this).data("id");
            window.location.replace("https://localhost:44309/profile/chi-tiet-don-dat/" + idXemChiTiet);
        })


        //Handle xác nhận mở modal hủy đơn hàng
        $('.huyDonHangButton').click(function (e) {
            var idHuy = $(this).data("id");
            console.log(idHuy);
            $('#exampleModal_' + idHuy).modal('show')
        })


        //Handle đóng modal xác nhận Hủy đơn hàng
        $('.closeButton').click(function (e) {
            var idClose = $(this).data("id");
            console.log("Hủy", idClose);
            $('#exampleModal_' + idClose).modal('hide')
        })


        //Handle mở modal xác nhận Đã nhận hàng
        $('.daNhanHangButton').click(function (e) {
            var idHuy = $(this).data("id");
            console.log(idHuy);
            $('#daNhanHang_' + idHuy).modal('show')
        })

        //Handle đóng modal xác nhận đã nhận hàng
        $('.closeButtonNhanHang').click(function (e) {
            var idHuy = $(this).data("id");
            console.log(idHuy);
            $('#daNhanHang_' + idHuy).modal('hide')
        })




    });
</script>

<style>
    .xacNhanHuyButton {
        background-color: #146d4d;
        color: white;
        font-weight: 500;
        outline: none;
        padding: 6px 12px;
        border: none;
        border-radius: 6px;
    }

        .xacNhanHuyButton:hover {
            opacity: 0.7;
        }

    .closeButton {
        color: #fff;
        font-weight: 500;
        outline: none;
        border: none;
        padding: 6px 12px;
        border-radius: 6px;
    }

        .closeButton:hover {
            opacity: 0.7;
        }

    .button-option {
        display: flex;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .button-delete {
        margin-right: 0;
    }

    .button-edit {
        height: 23px;
    }

    .button-detail {
        height: 23px;
    }

    .product-desc {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 350px;
    }

    .modal-body {
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    .modal-open {
        padding-right: 0 !important;
    }

    #site-header {
        padding-right: 0 !important;
    }

    .huyDonHang {
    }

    .chinhSua {
        font-size: 14px;
        color: #1976D2;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }

        .chinhSua:hover {
            opacity: 0.5;
        }


    .daNhanHang {
        font-size: 14px;
        color: #009D34;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }

        .daNhanHang:hover {
            opacity: 0.5;
        }

    .huyDonHang:hover {
        opacity: 0.5;
    }

    .xemChiTiet {
        font-size: 14px;
        color: #146d4d;
        line-height: 20px;
    }

        .xemChiTiet:hover {
            opacity: 0.5;
        }

    .optionsSelect {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .show {
        visibility: visible !important;
    }

    .toggle-options-select {
        padding-top: 10px;
        padding-bottom: 10px;
        position: absolute;
        background-color: #ccc;
        border-radius: 8px;
        color: white;
        font-size: 10px;
        font-weight: bold;
        display: flex;
        border: 1px solid #fff;
        justify-content: center;
        align-items: center;
        width: 130px;
        top: -390%;
        left: -150%;
        visibility: hidden;
        transition: all 0.02s ease;
    }

    .wrap-options {
        display: flex;
        flex-direction: column;
    }

    .maDonDat {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000;
    }

    .pDonDat {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }

    .activeColor {
        color: #009D34 !important;
    }


    .cancelledColor {
        color: #FF0000 !important;
    }

    .inProgressColor {
        color: #FFC107 !important;
    }

    .waitingAcceptColor {
        color: #1976D2 !important;
    }

    .ngayDang {
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 0;
    }

    .table tbody tr td {
        vertical-align: middle;
    }

    .empty-cart-img {
        width: 100%;
        position: relative;
        text-align: center;
        color: #000;
        margin-bottom: 100px;
    }

    .centered-empty-cart {
        position: absolute;
        top: calc(50% + 140px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .button-buy-now {
        position: absolute;
        top: calc(50% + 220px);
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        background-color: #146d4d;
        border-radius: 15px;
        padding: 26px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    #wrap-order-summary {
        padding: 24px;
    }

    .order-summary-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 14px;
    }

    .wrap-sub-total {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .wrap-giamgia {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wrap-estimated-total {
        display: flex;
        justify-content: space-between;
    }

    .sub-total {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000;
    }

    .button-checkout {
        margin-top: 36px;
        border: none;
        background-color: #146d4d;
        border-radius: 15px;
        padding: 16px;
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
    }

    #wrap-order-summary {
        background-color: #F5F5F6;
        border-radius: 15px;
    }

    .img-product {
        width: 80px;
        height: 80px;
        border-radius: 15px;
        margin-right: 20px;
    }

    .product-details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .product-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
    }

    .product-note {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        max-width: 260px;
    }

    .product-price {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #146d4d;
    }

    .quantity-product {
        width: 50px;
        height: 33px;
        border: 2px solid #CFCFCF;
        text-align: center;
        margin: 0 13px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .button-quantity-decrease {
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        outline: none !important;
    }

    .button-quantity-increase {
        background-color: transparent;
        border: none;
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        outline: none !important;
    }



    .total-price {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #146d4d;
        margin: 0;
    }

    .img-header-avt:hover {
        cursor: pointer
    }

    .form-check-label {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .form-check-input {
        padding: 7px;
        width: 100%;
        height: 2em;
    }

    button, input, select, label, li {
        -webkit-appearance: button;
    }

    .form-group {
        margin: 30px 0 30px 0;
    }

    .profile-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .img-header {
        margin-right: 50px;
    }

    .button-profile-save {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .button-profile-save > button {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            background-color: #146d4d;
            padding: 14px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
        }

    hr.style10 {
        border-top: 0.5px dotted #E5E5E5;
        border-bottom: 1px dotted #fff;
    }
</style>




<style>
    td {
        vertical-align: initial;
    }

    .pagination li a {
        position: relative;
        display: block;
        padding: var(--cui-pagination-padding-y) var(--cui-pagination-padding-x);
        font-size: var(--cui-pagination-font-size);
        color: black;
        text-decoration: none;
        background-color: var(--cui-pagination-bg);
        border: var(--cui-pagination-border-width) solid var(--cui-pagination-border-color);
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .pagination li :hover {
        background-color: #009D34;
        color: white;
    }

    .pagination {
        --cui-pagination-padding-x: 0.75rem;
        --cui-pagination-padding-y: 0.375rem;
        --cui-pagination-font-size: 1rem;
        --cui-pagination-color: var(--cui-link-color);
        --cui-pagination-bg: #fff;
        --cui-pagination-border-width: 1px;
        --cui-pagination-border-color: #c4c9d0;
        --cui-pagination-border-radius: 0.375rem;
        --cui-pagination-hover-color: var(--cui-link-hover-color);
        --cui-pagination-hover-bg: #d8dbe0;
        --cui-pagination-hover-border-color: #c4c9d0;
        --cui-pagination-focus-color: var(--cui-link-hover-color);
        --cui-pagination-focus-bg: #d8dbe0;
        --cui-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(50, 31, 219, 0.25);
        --cui-pagination-active-color: rgba(255, 255, 255, 0.87);
        --cui-pagination-active-bg: #321fdb;
        --cui-pagination-active-border-color: #321fdb;
        --cui-pagination-disabled-color: #8a93a2;
        --cui-pagination-disabled-bg: #fff;
        --cui-pagination-disabled-border-color: #c4c9d0;
        display: flex;
        list-style: none;
        border-radius: 5px;
    }

    .active > a {
        z-index: 3;
        color: var(--cui-pagination-active-color) !important;
        background-color: #009D34 !important;
        border-color: #009D34 !important;
    }
</style>

<script>
    $(document).ready(function () {
        $(".PagedList-skipToNext > a").text("Sau");
        $(".PagedList-skipToPrevious > a").text("Trước")
        console.log($(".pagination > .active > a").text())
        //Xử lý nếu trang đang ở 1 thì sẽ disabled nút previous
    });
</script>

<script>
    $(document).ready(function () {
        var url = window.location.href;
        console.log("url", url)

        $(".button-products").click(function () {
            {
                console.log($(this).data("name"));
                var name = $(this).data("name");
                if (name == "Tất Cả") {
                    window.location.replace("https://localhost:44309/admin/san-pham");
                }
                if (name == "Cà Phê") {
                    window.location.replace("https://localhost:44309/admin/san-pham/ca-phe");
                }
                if (name == "Trà Sữa") {
                    window.location.replace("https://localhost:44309/admin/san-pham/tra-sua");
                }
                if (name == "Topping") {
                    window.location.replace("https://localhost:44309/admin/san-pham/topping");
                }
                if (name == "Khác") {
                    window.location.replace("https://localhost:44309/admin/san-pham/khac");
                }
            }
        })
    });
</script>
<style>
    .wrap-button-products {
        display: flex;
        margin-bottom: 40px;
    }

    .button-products-link {
        text-decoration: none;
    }


    .button-products {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        background-color: #eee;
        padding: 10px 14px;
        text-align: center;
        color: #146d4d;
        border: 1px solid #146d4d;
        border-radius: 8px;
        transition: all 0.02s ease;
        margin-right: 12px;
    }

        .button-products:hover {
            background-color: #146d4d;
            color: #FFFFFF;
            transition: all 0.02s ease;
        }

    .button-active {
        background-color: #146d4d;
        color: #FFFFFF;
    }
</style>