@model Model.EF.ChiTietSanPham


@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@section breadcrumb {
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                    <!-- if breadcrumb is single-->
                    <span>Sản phẩm</span>
                </li>
                <li class="breadcrumb-item active"><span>Chi tiết Sản phẩm</span></li>
            </ol>
        </nav>
    </div>
}

<style>
    .product {
        display: flex;
        /*flex-direction:column;*/
        gap: 30px;
        padding-bottom: 20px;
        /*border-bottom: 0.5px solid #ccc !important;*/
    }

    .imgProduct {
        display: flex;
    }

    .contentProduct {
        display: flex;
        flex-direction: column;
    }

    .moTaDiv {
        margin-top: 20px;
    }

    .moTa {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    .moTaP {
        font-size: 18px;
        font-weight: 400;
    }

</style>


<div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-907">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="container">
                    <div class="product">
                        <div class="imgProduct">
                            <img src=@Model.UrlImage style="width:500px; height: 500px;" />
                        </div>
                        <div class="contentProduct">
                            <h3 style="font-size: 30px; text-transform: uppercase; font-weight: 700; margin-bottom: 5px; text-transform: capitalize; color: #146d4d; ">
                                @Model.TenSanPham
                            </h3>
                            <p style="font-size: 24px; font-weight: 700;">@Model.Gia Đ</p>
                        </div>
                    </div>
                    <div class="moTaDiv">
                        <h3 class="moTa">Mô tả sản phẩm</h3>
                        <p class="moTaP">@Model.MoTaSanPham</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



