

@section breadcrumb {
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                    <!-- if breadcrumb is single-->
                    <span>Blog</span>
                </li>
                <li class="breadcrumb-item active"><span>Danh sách Blog</span></li>
            </ol>
        </nav>
    </div>
}

@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var blogs = ViewBag.blogs;
    var nguoidung = ViewBag.nguoidung;
}

<div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-907">
        <a href="~/Admin/Blog/Create">
        <button class="btn btn-success" style="margin-bottom:20px; padding: 10px; font-size:16px;" type="button">
        Thêm mới Blog
        </button>

        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col"></th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Ngày đăng</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var blog in blogs)
                    {
                        ++i;
                        <tr id="row+@blog.ID">
                            <th scope="row">@i</th>
                            <td><img src=@blog.UrlImage width="80" height="80" /></td>
                            <td>

                                @blog.TieuDe
                            </td>
                            <td>@nguoidung.HoTen</td>
                            <td>@blog.CreatedDate</td>
                            @*<td>@Html.Raw(blog.NoiDung)</td>*@
                            <td>
                                <a style="cursor: pointer; text-decoration: none;" href="~/Admin/Blog/Details/@blog.ID">
                                    <button class="btn btn-info" type="button">Xem chi tiết</button>
                                </a>
                                <a style="cursor: pointer; text-decoration: none;" href="~/Admin/Blog/Update/@blog.ID">
                                    <button class="btn btn-success" type="button">Sửa</button>
                                </a>
                                <a style="cursor: pointer; text-decoration: none;"
                                   onclick="if (confirm('Bạn có chắc muốn xóa không')) { location.href='/Admin/Blog/Delete/@blog.ID' }">
                                    <button class="btn btn-danger" type="button">Xóa</button>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script>

</script>
