

@section breadcrumb {
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
                <li class="breadcrumb-item">
                    <!-- if breadcrumb is single-->
                    <span>Blog</span>
                </li>
                <li class="breadcrumb-item active"><span>Danh sách Blog</span></li>
            </ol>
        </nav>
    </div>
}

@{
    ViewBag.Title = "MoriiCoffee";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var blogs = ViewBag.blogs;
    var nguoidung = ViewBag.nguoidung;
}

<div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-907">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col"></th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Ngày đăng</th>
                    <th scope="col">Nội dung</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 0;
                    foreach (var blog in blogs)
                    {
                        ++i;
                        <tr>
                            <th scope="row">@i</th>
                            <td><img src=@blog.UrlImage width="80" height="80" /></td>
                            <td>
                                <a>
                                @Html.ActionLink("/Admin/Blog/Del", "Details", new { id = blog.ID })
                                @blog.TieuDe

                                </a>




                            </td>
                            <td>@nguoidung.HoTen</td>
                            <td>@blog.CreatedDate</td>
                            <td>@Html.Raw(blog.NoiDung)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
